<div class="container">
  <div class="formation-selector">
    <label id="formationLabel" for="formationSelect">FORMATION: </label>
    <select id="formationSelect" [(ngModel)]="selectedFormation" (change)="onSelectComponent()">
      <option value="four-three-three-comp">4-3-3</option>
      <option value="four-four-two-comp">4-4-2</option>
      <option value="five-three-two">5-3-2</option>
    </select>
  </div>
  <div class="squad-name" *ngIf="selectedSquad">
    <label id="squadNameLabel" for="squadNameInput">SQUAD NAME: </label>
    <input type="text" class="form-control" id="squadNameInput" name="squadName" [(ngModel)]="selectedSquad.squadName" placeholder="Squad Name">
  </div>
  <div class="buttons">
    <div class="save-button">
      <button type="button" class="btn btn-outline-primary save-outline-btn" (click)="onSave()">Save and Exit</button>
    </div>
    <div class="cancel-button">
      <button type="button" class="btn btn-outline-primary cancel-outline-btn" (click)="onCancel()"> Cancel </button>
    </div>
  </div>
</div>