<div class="main-container">
  <div class="subs-text">
    <p>SUBS</p>
  </div>
  <div class="subs-r1">
    <div class="position-11">
      <squad-card-comp [squadPosition]="11"></squad-card-comp>
      <div class="position-name">SUB 1</div>
    </div>
    <div class="position-12">
      <squad-card-comp [squadPosition]="12"></squad-card-comp>
      <div class="position-name">SUB 2</div>
    </div>
    <div class="position-13">
      <squad-card-comp [squadPosition]="13"></squad-card-comp>
      <div class="position-name">SUB 3</div>
    </div>

  </div>
  <div class="subs-r2">
    <div class="position-14">
      <squad-card-comp [squadPosition]="14"></squad-card-comp>
      <div class="position-name">SUB 4</div>
    </div>
    <div class="position-15">
      <squad-card-comp [squadPosition]="15"></squad-card-comp>
      <div class="position-name">SUB 5</div>
    </div>
    <div class="position-16">
      <squad-card-comp [squadPosition]="16"></squad-card-comp>
      <div class="position-name">SUB 6</div>
    </div>

  </div>
  <div class="reserves-text">
    <p>RESERVES</p>
  </div>
  <div class="reserves-r1">
    <div class="position-17">
      <squad-card-comp [squadPosition]="17"></squad-card-comp>
      <div class="position-name">RES 1</div>
    </div>
    <div class="position-18">
      <squad-card-comp [squadPosition]="18"></squad-card-comp>
      <div class="position-name">RES 2</div>
    </div>
    <div class="position-19">
      <squad-card-comp [squadPosition]="19"></squad-card-comp>
      <div class="position-name">RES 3</div>
    </div>

  </div>
  <div class="reserves-r2">
    <div class="position-20">
      <squad-card-comp [squadPosition]="20"></squad-card-comp>
      <div class="position-name">RES 4</div>
    </div>
    <div class="position-21">
      <squad-card-comp [squadPosition]="21"></squad-card-comp>
      <div class="position-name">RES 5</div>
    </div>
    <div class="position-22">
      <squad-card-comp [squadPosition]="22"></squad-card-comp>
      <div class="position-name">RES 6</div>
    </div>   
  </div>
</div>
