.outer-container {
  height: 100%;

  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.instructions {
  height: 15%;

  color: #8760F6;
  font-weight: bolder;
  text-align: center;

  /* border: 1px solid black; */
}

.players-container {
  height: 50%;

  display: flex;
  align-items: center;
  width: 380px;

  /* border: 1px solid black; */
}

.position-title {
  height: 5%;

  font-weight: bold;
  font-size: 30px;

  /* border: 2px solid green; */
}

.button-container {
  height: 10%;

  display: flex;
  justify-content: center;
  gap: 20px;

  /* border: 2px solid green; */
}

.return-to-squad {
  height: 5%;
  width: 100%;

  color: red;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  gap: 5%;
  cursor: pointer;
  padding-left: 5%;

  /* border: 2px solid black; */
}

.player-card {
  border: 1px solid black;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 150px;
}

h3 {
  color: #3e31fa;
}

.player-img {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border-bottom: 2px solid #3e31fa;
}

.player-info {
  text-align: center;
}

.player-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.player-position,
.player-number,
.player-team {
  font-size: 1rem;
  margin-bottom: 3px;
}

.swap-arrow {
  font-size: 2rem;
  color: #3e31fa;
  margin: 0 20px;
}

.cancel-outline-btn {
  background-color: #3e31fa;
  color: white;
}

.cancel-outline-btn:hover {
  border-color: white;
}

.swap-outline-btn {
  height: 40px;
  border-color: lightgrey;
  color: #3e31fa;
}

.swap-outline-btn:hover {
  border-color: #3e31fa;
  background-color: white;
}