<div class="outer-container">
  <div class="instructions">
    Pick a player to swap into your squad!
  </div>
  
  <div class="players-container">
    <div class="player-card current-player">
      <img [src]="currentPlayer.image" alt="Current Player Image" id="currentPlayerIMG" class="player-img">
      <div class="player-info" *ngIf="currentPlayer.team">
        <h3 class="player-name">{{ currentPlayer.preferredName }}</h3>
        <p class="player-number">#{{ currentPlayer.kitNumber }}</p>
        <p class="player-position">{{ currentPlayer.position }}</p>
        <p class="player-team">{{ currentPlayer.team.teamName }}</p>
      </div>
    </div>
    
    <div class="swap-arrow">
      <i class="fas fa-exchange-alt"></i>
    </div>
    
    <div class="player-card new-player" *ngIf="newPlayer">
      <img [src]="newPlayer.image" alt="New Player Image" id="newPlayerIMG" class="player-img">
      <div class="player-info" *ngIf="newPlayer.team">
        <h3 class="player-name">{{ newPlayer.preferredName }}</h3>
        <p class="player-number">#{{ newPlayer.kitNumber }}</p>
        <p class="player-position">{{ newPlayer.position }}</p>
        <p class="player-team">{{ newPlayer.team.teamName }}</p>
      </div>
    </div>
  </div>
  
  <div class="button-container">
    <button type="button" class="btn btn-outline-primary cancel-outline-btn" (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-outline-primary swap-outline-btn" (click)="onSwap()">Swap</button>
  </div>
</div>