<div class="header">
  <div class="club-image" (click)="navigateTo('home')">
    <img src="assets/club-assets/escudo.png" alt="Real Madrid CF Logo">
  </div>
  <div class="club-champions">
    <img src="assets/club-assets/champions-logo-15.webp" alt="Champions 15">
  </div>
  <div class="nav-container">
    <ul class="horizontal-nav">
      <li routerLinkActive="active"><a routerLink="squads">Squad Builder</a></li>
      <li routerLinkActive="active"><a routerLink="players">Players</a></li>
      <li routerLinkActive="active"><a routerLink="teams">Teams</a></li>
    </ul>
  </div>
</div>