<div class="outer-container">
  <div class="squads" (click)="navigateTo('squads')">
    <div class="text">
      SQUAD-BUILDER
    </div>
    <div class="squads-image">
      <img src="assets/club-assets/squads.jpg" alt="Squads" id="squads-image">
    </div>
  </div>

  <div class="right-side">
    <div class="teams" (click)="navigateTo('teams')">
      <div class="text">
        TEAMS
      </div>
      <img src="assets/club-assets/teams.png" alt="Teams" id="teams-image">
    </div>
    <div class="players" (click)="navigateTo('players')">
      <div class="text">
        PLAYERS
      </div>
      <img src="assets/club-assets/players.webp" alt="Players" id="players-image">
    </div>
  </div>
</div>
