<div class="div-container">
  <div class="forwards-container">
    <div class="position-10">
      <squad-card-comp [squadPosition]="10"></squad-card-comp>
    </div>
    <div class="position-9">
      <squad-card-comp [squadPosition]="9"></squad-card-comp>
    </div>
  </div>

  <div class="midfielder-container">
    <div class="position-8">
      <squad-card-comp [squadPosition]="8"></squad-card-comp>
    </div>
    <div class="position-5">
      <squad-card-comp [squadPosition]="5"></squad-card-comp>
    </div>
    <div class="position-6">
      <squad-card-comp [squadPosition]="6"></squad-card-comp>
    </div>
    <div class="position-7">
      <squad-card-comp [squadPosition]="7"></squad-card-comp>
    </div>
  </div>

  <div class="defender-container">
    <div class="position-3">
      <squad-card-comp [squadPosition]="3"></squad-card-comp>
    </div>
    <div class="position-1">
      <squad-card-comp [squadPosition]="1"></squad-card-comp>
    </div>
    <div class="position-2">
      <squad-card-comp [squadPosition]="2"></squad-card-comp>
    </div>
    <div class="position-4">
      <squad-card-comp [squadPosition]="4"></squad-card-comp>
    </div>
  </div>

  <div class="goalkeeper-container">
    <div class="position-0">
      <squad-card-comp [squadPosition]="0"></squad-card-comp>
    </div>
  </div>
</div>